	/* CSS coded sorted alphabetically */
	
   /* HTML Elements -- sorted alphabetically - Selectors grouped for ID based selectors - Selectors grouped for class based selectors*/ 
* {
            font-family: 'Open Sans', sans-serif;
            color: #044E1B;
            text-align: center;
            font-size:95%;
            box-sizing: border-box;
            }
	a {
		text-decoration:none;	
	}

	article p {
		text-align: justify;
	}

	body{
	/* background-color: #9A0507; */
	   background-color: white; 
	}

	blockquote{
		float:right;
		width: 15%;
		font-size: 1rem;
		font-family: "Open Sans", sans-serif;
		color: #592A0F;
		margin: 3.5% 6% 0.8% 0%;
		padding-top: 1%;
		padding-bottom: 1%;
		border-top: 1.6% solid #665544;
		border-bottom: 1.6% solid #665544;
	}

	footer{
		margin: 0% auto 6% auto;
		padding: 5%;
		clear:both;
		display: block;
	}

	h1{
		font-family: "Sansita", sans-serif;
		font-size: 2rem; 
		/* 500% or 15vh or 15 vw  
			https://developer.mozilla.org/en-US/docs/Web/CSS/font-size 
		*/
	    padding-top: 0.5%;
	    margin: 0;
	    text-align: center;
	}

	h1 a{
		font-family: "Sansita", sans-serif;
	    font-size: 1rem;
		/* 5vh  45.8333333333333%
			https://developer.mozilla.org/en-US/docs/Web/CSS/font-size 
		*/
	}

	h4{
		font-size: 0.6rem;
		text-align: left;
		border-bottom: 1% solid #665544;
	}

	header{
		background-image: url("../images/plaid.jpeg");
		position: sticky;
		top: 0;
		z-index: 33;
	}

	header h1{
		color: #CBD3A9;
		font-family: "Sansita", sans-serif;
		text-decoration: none;
	}

	
	li {
		font-family: "open sans", sans-serif;
		display: inline;
		padding: 1%;
	    text-decoration:none;
	}

	nav a{
		color: #CBD3A9;
		font-family: "Sansita", sans-serif;
		text-decoration: none;
	} 
	
	nav {
		padding-bottom:2.2%;
		clear:both;
		display: block;
		margin:auto;
		}

	
	section{
		color: red;
	}
	

/* IDs */

	#blog h2{
		font-family: "Sansita", sans-serif;
		font-size: 1.2rem;
	}

	#blog p{
		font-size: 0.8rem;
		text-align: justify;
	}
	
	#center{
		/* set width or max-width*/
	}

	#date{
		float:left;
		background-color: #420D0D;
		margin-left: -1px;
		width: 12.8%;
		color: white;
		padding: 10%;
	}

	#blog{
		padding-bottom: 2%;
	}
	
  #main {
       width:60%;
       float:left;
       padding: 0;
       margin:0;
       box-sizing:border-box;
}
	#other a{
		text-decoration:none;
	    font-style: bold;
       width: 40%;
        float:right;
        padding: 0;
        margin:0;
        box-sizing: border-box;
  }

  #page{
      background-color: #c7c7c6;
      margin: 3% auto;
      width: 90%;
     }
	
	p#date:first-letter { 
		font-size: 2em; 
		font-weight: normal;
		}


	#title {
		clear:both;
		display: block;
		margin:auto;
		padding-left: 3.3%;
	}


/* Classes */

	article .redtitles{
		font-family: arial, sans-serif;
	}

	article .redtitles {
		text-align: justify;
	}

	.av{
		/* set width or max-width*/
	   max-width: 100%;
    overflow: hidden;
	}

	.redtitles{
		font-family: 'Open Sans', sans-serif;
		color:#420D0D;
		font-weight: bold;
		font-size: 100%;
	}

	.sidered{
		  font-size: 50px;
		  margin-top: 0px;
	}


